In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn
from simtk.unit import kelvin, picoseconds

# Adding microstates and transitions

In [3]:
net = okn.kinetic_transition_network(form='networkx.DiGraph', temperature=300*kelvin,
                                     time_step=10*picoseconds)

In [5]:
okn.info(net)

## Adding microstates

In [6]:
okn.add_microstate(net)

In [8]:
okn.info(net, target='microstate')

In [9]:
okn.add_microstate(net, name='A')

In [10]:
okn.info(net, target='microstate')

In [11]:
okn.add_microstate(net, index=4)

In [12]:
okn.info(net, target='microstate')

## Adding transitions

In [13]:
okn.add_transition(net, origin='A', end=3, weight=1.0)

In [14]:
okn.info(net)

In [15]:
okn.info(net, target='microstate')

In [16]:
okn.info(net, target='transition')

KeyError: 'transition_index'

### The resultant object

In [17]:
net.graph

{'temperature': Quantity(value=300, unit=kelvin),
 'time_step': Quantity(value=0.01, unit=nanosecond),
 'weight': 1.0}

In [18]:
net.nodes(data=True)

NodeDataView({0: {'index': 0, 'name': 0, 'weight': 0.0, 'probability': 0.0, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 'A': {'index': 1, 'name': 'A', 'weight': 1.0, 'probability': 0.0, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 2: {'index': 2, 'name': 2, 'weight': 0.0, 'probability': 0.0, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 3: {'index': 3, 'name': 3, 'weight': 0.0, 'probability': 0.0, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}})

In [24]:
list(net.edges.keys())[0]

('A', 3)

In [25]:
import itertools

In [27]:
(range(100),8))

[0, 1, 2, 3, 4, 5, 6, 7]