In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn
from simtk.unit import kelvin, picoseconds

# Adding microstates and transitions

In [3]:
net = okn.kinetic_transition_network(form='networkx.DiGraph', temperature=300*kelvin,
                                     time_step=10*picoseconds)

In [4]:
okn.info(net)

In [5]:
net.graph

{'temperature': Quantity(value=300, unit=kelvin),
 'time_step': Quantity(value=0.01, unit=nanosecond)}

## Adding microstates

In [6]:
okn.add_microstate(net)

In [7]:
okn.info(net, target='microstate')

In [8]:
okn.add_microstate(net, name='A')

In [9]:
okn.info(net, target='microstate')

In [10]:
okn.add_microstate(net, index=4)

In [11]:
okn.info(net, target='microstate')

## Adding transitions

In [12]:
okn.add_transition(net, origin='A', end=3, weight=1.0)

In [13]:
okn.info(net)

In [14]:
okn.info(net, target='microstate')

In [15]:
okn.info(net, target='transition')

In [16]:
okn.add_transition(net, origin=0, end=2, weight=4.0, origin_index=True, end_index=True)

In [17]:
okn.info(net, target='transition')

Ya tenemos pesos

In [18]:
okn.info(net)

In [19]:
okn.info(net, target='microstate')

In [20]:
okn.update_probabilities(net)

In [21]:
okn.info(net, target='microstate')

In [22]:
okn.info(net, target='transition')

In [23]:
net.graph

{'temperature': Quantity(value=300, unit=kelvin),
 'time_step': Quantity(value=0.01, unit=nanosecond)}

## Network Symmetrization

In [24]:
okn.symmetrize(net)

In [25]:
okn.info(net, target='microstate')

In [26]:
okn.info(net, target='transition')

### The resultant object

In [27]:
net.graph

{'temperature': Quantity(value=300, unit=kelvin),
 'time_step': Quantity(value=0.01, unit=nanosecond)}

In [28]:
net.nodes(data=True)

NodeDataView({0: {'index': 0, 'name': 0, 'weight': 2.0, 'probability': 0.4, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 'A': {'index': 1, 'name': 'A', 'weight': 0.5, 'probability': 0.1, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 2: {'index': 2, 'name': 2, 'weight': 2.0, 'probability': 0.4, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}, 3: {'index': 3, 'name': 3, 'weight': 0.5, 'probability': 0.1, 'component_index': None, 'basin_index': None, 'coordinates': None, 'color': None, 'size': None}})

In [29]:
net.edges(data=True)

OutEdgeDataView([(0, 2, {'index': 1, 'origin_index': None, 'end_index': None, 'weight': 2.0, 'probability': 1.0, 'symmetrized': True}), ('A', 3, {'index': 0, 'origin_index': None, 'end_index': None, 'weight': 0.5, 'probability': 1.0, 'symmetrized': True}), (2, 0, {'index': 2, 'origin_index': None, 'end_index': None, 'weight': 2.0, 'probability': 1.0, 'symmetrized': True}), (3, 'A', {'index': 3, 'origin_index': None, 'end_index': None, 'weight': 0.5, 'probability': 1.0, 'symmetrized': True})])