In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn
from simtk.unit import kelvin, picoseconds

# Pandas Kinetic Transition Network

In [3]:
net = okn.kinetic_transition_network(form='pandas.KineticTransitionNetwork',
                                    temperature=300.0*kelvin, time_step=10*picoseconds)

In [4]:
okn.info(net)

In [5]:
okn.add_microstate(net)

In [6]:
okn.info(net, target='microstate')

In [7]:
okn.add_microstate(net, name='A')

In [8]:
okn.info(net, target='microstate')

In [9]:
okn.add_microstate(net, index=4)

In [10]:
okn.info(net, target='microstate')

In [11]:
okn.add_transition(net, origin='A', end=3, weight=1.0)

In [12]:
net.transitions

  index origin_index end_index weight probability symmetrized
0     0            1         3      1           0       False

In [13]:
okn.info(net)

In [14]:
okn.info(net, target='microstate')

In [15]:
okn.info(net, target='transition')

In [16]:
okn.add_transition(net, origin=0, end=2, weight=4.0, origin_index=True, end_index=True)

In [17]:
okn.info(net, target='transition')

In [18]:
net.transitions

  index origin_index end_index weight probability symmetrized
0     0            1         3      1           0       False
1     1            0         2      4           0       False

In [19]:
okn.info(net)

In [20]:
okn.info(net, target='microstate')

In [21]:
okn.update_probabilities(net)

In [22]:
okn.info(net, target='microstate')

In [23]:
okn.info(net, target='transition')

In [24]:
okn.symmetrize(net)

In [25]:
okn.info(net, target='microstate')

In [26]:
okn.info(net, target='transition')