In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn

In [3]:
net = okn.kinetic_transition_network(form='pandas.MicrostatesDataFrame')

In [4]:
okn.add_microstate(net, index=20)

In [5]:
okn.add_microstate(net, name='patata', index=10)

In [6]:
net

,index,name,weight,probability,component_index,basin_index,coordinates,color,size
0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,2.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
5,5.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
6,6.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
7,7.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
8,8.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
9,9.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
10,10.0,patata,0.0,0.0,NaN,NaN,NaN,NaN,NaN
11,11.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
12,12.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
13,13.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
14,14.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15,15.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
16,16.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
17,17.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
18,18.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
19,19.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
20,20.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [7]:
okn.microstate_in(net, name='patata')

True

In [ ]:
df=pd.DataFrame(columns=['origin_index', 'end_index', 'weight', 'probability'])

In [ ]:
df=df.append({'origin_index':2, 'end_index':1, 'weight':10, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':2, 'end_index':2, 'weight':20, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':1, 'end_index':2, 'weight':1, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':4, 'end_index':1, 'weight':4, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':7, 'end_index':2, 'weight':8, 'probability':0.0}, ignore_index=True)

In [ ]:
df

In [ ]:
aux=df.groupby(by='origin_index')['end_index'].count()

In [ ]:
np.array(aux.keys())

In [ ]:
import numpy as np

In [ ]:
np.array(aux)

In [ ]:
for ii,jj in aa.items():
    print(ii,jj)

In [ ]:
df['origin_index'].isin([2]).sum()

In [ ]:
df['probability']=df['weight'countgroupby(by='origin_index')['weight'].transform('sum')

In [ ]:
df

In [ ]:
for origin_index, end_index, weight in zip(df['origin_index'], df['end_index'], df['weight']):
    weight=99.0