In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import openktn as okn

In [4]:
net = okn.kinetic_transition_network(form='pandas.MicrostatesDataFrame')

In [5]:
okn.add_microstate(net, index=20)

In [6]:
okn.add_microstate(net, name='patata', index=10)

In [7]:
net

,index,name,weight,probability,component_index,basin_index,coordinates,color,size
0,0,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,1,NaN,0,0,NaN,NaN,NaN,NaN,NaN
2,2,NaN,0,0,NaN,NaN,NaN,NaN,NaN
3,3,NaN,0,0,NaN,NaN,NaN,NaN,NaN
4,4,NaN,0,0,NaN,NaN,NaN,NaN,NaN
5,5,NaN,0,0,NaN,NaN,NaN,NaN,NaN
6,6,NaN,0,0,NaN,NaN,NaN,NaN,NaN
7,7,NaN,0,0,NaN,NaN,NaN,NaN,NaN
8,8,NaN,0,0,NaN,NaN,NaN,NaN,NaN
9,9,NaN,0,0,NaN,NaN,NaN,NaN,NaN
10,10,patata,0,0,NaN,NaN,NaN,NaN,NaN
11,11,NaN,0,0,NaN,NaN,NaN,NaN,NaN
12,12,NaN,0,0,NaN,NaN,NaN,NaN,NaN
13,13,NaN,0,0,NaN,NaN,NaN,NaN,NaN
14,14,NaN,0,0,NaN,NaN,NaN,NaN,NaN
15,15,NaN,0,0,NaN,NaN,NaN,NaN,NaN
16,16,NaN,0,0,NaN,NaN,NaN,NaN,NaN
17,17,NaN,0,0,NaN,NaN,NaN,NaN,NaN
18,18,NaN,0,0,NaN,NaN,NaN,NaN,NaN
19,19,NaN,0,0,NaN,NaN,NaN,NaN,NaN
20,20,NaN,0,0,NaN,NaN,NaN,NaN,NaN

In [ ]:
okn.microstate_in(net, name='patata')

In [9]:
net.loc[:,'weight']+=1.0

In [ ]:
net['probability']= net['weight']/net['weight'].sum()

In [ ]:
net.loc[:,'weight'].to_numpy()

In [ ]:
net.groupby('component_index').ngroups

In [ ]:
aa.ngroups

In [ ]:
net[net['name']=='patata'].index[0]

In [10]:
import pandas as pd

In [92]:
df=pd.DataFrame(columns=['origin_index', 'end_index', 'weight', 'probability'])

In [93]:
df=df.append({'origin_index':2, 'end_index':1, 'weight':10, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':2, 'end_index':2, 'weight':20, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':1, 'end_index':2, 'weight':1, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':4, 'end_index':1, 'weight':4, 'probability':0.0}, ignore_index=True)
df=df.append({'origin_index':7, 'end_index':2, 'weight':8, 'probability':0.0}, ignore_index=True)

In [94]:
df

   origin_index  end_index  weight  probability
0           2.0        1.0    10.0          0.0
1           2.0        2.0    20.0          0.0
2           1.0        2.0     1.0          0.0
3           4.0        1.0     4.0          0.0
4           7.0        2.0     8.0          0.0

In [118]:
aux=df.groupby(by='origin_index')['end_index'].count()

In [124]:
np.array(aux.keys())

array([1., 2., 4., 7.])

In [122]:
import numpy as np

In [123]:
np.array(aux)

array([1, 2, 1, 1])

In [107]:
for ii,jj in aa.items():
    print(ii,jj)

1.0 1.0
2.0 30.0
4.0 4.0
7.0 8.0

In [91]:
df['origin_index'].isin([2]).sum()

2

In [33]:
df['probability']=df['weight'countgroupby(by='origin_index')['weight'].transform('sum')

In [34]:
df

   origin_index  end_index  weight  probability
0           0.0        1.0    10.0     0.333333
1           0.0        2.0    20.0     0.666667
2           1.0        2.0     1.0     1.000000
3           2.0        1.0     4.0     0.333333
4           2.0        1.0     8.0     0.666667

In [52]:
for origin_index, end_index, weight in zip(df['origin_index'], df['end_index'], df['weight']):
    weight=99.0

   origin_index  end_index  weight  probability
0           0.0        1.0   100.0     0.333333
1           0.0        2.0   100.0     0.666667
2           1.0        2.0   100.0     1.000000
3           2.0        1.0   100.0     0.333333
4           2.0        1.0   100.0     0.666667