In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn
import simtk.unit as unit

In [3]:
net = okn.kinetic_transition_network(form='pandas.KineticTransitionNetwork',
                                     time_step=10.0*unit.picoseconds, temperature=300.0*unit.kelvin)

In [4]:
fff = open('DNMT/traj_pose1.txt','r')
mss_1 = fff.readline()[:-1]
for line in fff:
    mss_2 = line[:-1]
    okn.add_transition(net, mss_1, mss_2)
    mss_1 = mss_2
fff.close()

In [6]:
net.transitions

,origin,end,weight,probability,symmetrized
0,"0,1-0,1,2,3,4,5,6,7,8,9,10,11,12,13","0,2-1,2,3,4,5,6,7,8,9,10,12,13",1,0,False
1,"0,2-1,2,3,4,5,6,7,8,9,10,12,13","0,1-1,2,3,4,5,6,7,8,9,10,12,13,14",1,0,False
2,"0,1-1,2,3,4,5,6,7,8,9,10,12,13,14","0,1-1,2,3,4,5,6,7,8,9,10,12,13",1,0,False
3,"0,1-1,2,3,4,5,6,7,8,9,10,12,13","0,1-0,1,2,3,4,5,6,7,8,9,11,12,13,15",1,0,False
4,"0,1-0,1,2,3,4,5,6,7,8,9,11,12,13,15","0,1-0,1,3,4,5,6,7,8,9,10,12,13,14",1,0,False
...,...,...,...,...,...
925,"23-2,7,12,23,27","23-1,2,7,12,17,23,25,27",1,0,False
926,"23-1,2,7,12,17,23,25,27","23-2,7,12,17,23,27",1,0,False
927,"23-2,7,12,17,23,27","23-2,7,12,17,23,24,25,27",1,0,False
928,"23-2,7,12,17,23,24,25,27","-2,7,12,27",1,0,False
929,"-2,7,12,27","23-2,7,12,17,23,27",1,0,False

In [ ]:
okn.symmetrize(net)

In [ ]:
okn.most_likely(net, target='microstate', selection='all', top=4,
                output_names=True, output_free_energies=True)

In [ ]:
okn.select(net, 'microstate_name="-2,5,7,11,12,17"')