In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openktn as okn
import simtk.unit as unit

In [3]:
files=['DNMT/traj_pose'+str(ii)+'.txt' for ii in range(1,2)]
nets=[]

In [5]:
for file in files:

    aux_net = okn.KTN(form='pandas.KineticTransitionNetwork', time_step=10.0*unit.picoseconds,
                      temperature=300.0*unit.kelvin)
    
    fff = open(file,'r')
    mss_1 = fff.readline()[:-1]
    for line in fff:
        mss_2 = line[:-1]
        okn.add_transition(aux_net, mss_1, mss_2)
        mss_1 = mss_2
    fff.close()
    
    okn.update_microstates_weights(aux_net)
    okn.update_probabilities(aux_net)
    okn.symmetrize(aux_net)
    print('>>>',file)
    display(okn.info(aux_net))
    nets.append(aux_net)

>>> DNMT/traj_pose1.txt

In [18]:
net=nets[0]

In [19]:
components = okn.components(net)

In [21]:
traj1=['A','A','B','C','C','A','D','A','C','B','C','C','A','A','D']
traj2=['E','F','F','G','F','F','E','E','J','E','J','E','F','G','F']

In [22]:
net=okn.series_to_ktn([traj1, traj2])

In [23]:
okn.info(net)

In [24]:
okn.info(net, target='microstates')

In [25]:
okn.info(net, target='transitions')

In [33]:
components = okn.components(net)

In [34]:
components

[{'A', 'B', 'C', 'D'}, {'E', 'F', 'G', 'J'}]

In [36]:
net.microstates

  name  weight  probability component basin coordinates color size
0    A     5.0     0.185185         A   NaN         NaN   NaN  NaN
1    B     2.0     0.074074         A   NaN         NaN   NaN  NaN
2    C     5.0     0.185185         A   NaN         NaN   NaN  NaN
3    D     1.0     0.037037         A   NaN         NaN   NaN  NaN
4    E     5.0     0.185185         E   NaN         NaN   NaN  NaN
5    F     5.0     0.185185         E   NaN         NaN   NaN  NaN
6    G     2.0     0.074074         E   NaN         NaN   NaN  NaN
7    J     2.0     0.074074         E   NaN         NaN   NaN  NaN

In [37]:
okn.get(net, target='network', n_components=True)

2